.headerColor {
    background-color: #000324;
}

.lightBlueText {
    color: #E5FEFF;
}

.nearBlackText {
    color: #1A1B26;
}

.buttonColor {
    background-color: #004CC7;
}

.colorOfMoney {
    color: #1F51A8;
}

.BoxColor {
    background-color: #EBEDFC;
}

.boxBorder {
    color: #7A90D9;
}

.checkButtonColor {
    background-color: #006EDB;
}

checkButtonBorder {
    color: #000DC7;
}