@font-face {
    font-family: Dosis;
    src: url(../assets/fonts/Dosis-VariableFont_wght.ttf);
}

@font-face {
    font-family: SSP;
    src: url(../assets/fonts/SourceSansPro-Light.otf);
}

@font-face {
    font-family: SSPB;
    src: url(../assets/fonts/SourceSansPro-Bold.otf);
}

.headerColor {
    background-color: #000324;
}

.lightBlueText {
    color: #E5FEFF;
}

.nearBlackText {
    color: #1A1B26;
}

.buttonColor {
    background-color: #004CC7;
}

.colorOfMoney {
    color: #1F51A8;
}

.whiteColor {
    color: #ffffff;
}

.navLogo {
    margin-top: 12px;
    width: 143px;
    height: 100px;
}

.footerLogo {
    margin-top: 25px;
    width: 143px;
    height: 100px;
}

.headerSize {
    height: 120px;
}

.hyperLink {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-family: Dosis;
}

.positionNav {
    position: relative;
    top: -40px;
    width: 850px;
    text-align: center;
}

.borderReserve {
    border-style: solid;
    border-width: 2px;
    border-color: #E5FEFF;
    height: 33px;
    width: 92px;
}

.backImageOne {
    height: 500px;
    background-image: url("../assets/images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 56%;
}

.backImageTwo {
    height: 738px;
    background-image: url("../assets/images/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.opacityEight {
    opacity: 80%;
}

.titleBox {
    background-color: #000324;
    top: 254px;
    width: 945px;
    height: 232px;
}

.hamHomeSize {
    width: 369px;
    height: 416px;
}

.hampParTitle {
    font-size: 35px;
    font-family: Dosis;
}

.hampParText {
    font-size: 16.5px;
    font-family: SSP;
}

.finest {
    width: 200px;
    height: 153px;
}

.satisfaction {
    width: 200px;
    height: 193px;
}

.genuine {
    width: 200px;
    height: 175px;
}

.runTitle {
    position: absolute;
    font-family: Dosis;
    font-size: 45px;
    display: flex;
    justify-content: center;
    padding-top: 59px;
}

.roomTitle {
    position: absolute;
    font-family: Dosis;
    font-size: 35px;
    display: flex;
    justify-content: center;
    top: 1266px;
}

.exploreTitle {
    position: absolute;
    display: flex;
    justify-content: center;
    padding-top: 264px;
    font-family: SSP;
    font-size: 16px;
}

.cardStuff {
    padding-top: 104px;
    height: 522px;
}

.cardFormat {
    border-radius: 0px;
    border-width: 0px;
}

.backImageThree {
    height: 548px;
    background-image: url("../assets/images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 67%;
}

.zoom {
    height: 190px;
    object-fit: cover;
}

.btnCorner {
    font-family: SSPB;
    font-size: 20px;
    border-radius: 0px;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    padding-top: 8px;
    text-decoration: none;
}

.cardTitle {
    font-family: Dosis;
    font-size: 25px;
}

.cardText {
    font: normal normal normal 16px SSP;
    text-wrap: nowrap;
    height: 137px;
    margin-left: -20px;
}

.subTitle {
    font-family: SSPB;
    font-size: 16px;
}

.weddingImg {
    top: 2143px;
    left: 390px;
    width: 561px;
    height: 234px;
}

.springImg {
    top: 2143px;
    left: 390px;
    width: 561px;
    height: 234px;
}

.cheeseImg {
    top: 2143px;
    left: 390px;
    width: 561px;
    height: 234px;
}

.package {
    text-align: center;
    font-family: Dosis;
    font-size: 35px;
}

.packageTitles {
    font-family: Dosis;
    font-size: 25px;
}

.packageTexts {
    font-family: SSP;
    font-size: 16.1px;
}

.rightAndDown {
    margin-left: 75px;
    margin-right: 10px;
    margin-top: 15px;
}

.leftAndDown {
    margin-right: 90px;
    margin-top: 15px;
}

.amenity {
    font-size: 35px;
    font-family: Dosis;
    margin-top: 45px;
}

.heere {
    font-size: 16px;
    font-family: SSP;
}

.twentyFour {
    height: 101px;
}

.breakfast {
    height: 104px;
}

.valet {
    height: 115px;

}

.pool {
    height: 110px;
}

.twentyFourText {
    font-size: 20px;
    font-family: SSPB;
}

.breakfastText {
    font-size: 20px;
    font-family: SSPB;
}

.valetText {
    font-size: 20px;
    font-family: SSPB;
}

.poolText {
    font-size: 20px;
    font-family: SSPB;
}

.box {
    width: 1137px;
    height: 207px;
    background-color: #000324;
}

.sizeBig {
    height: 414px;
    background-image: url("../assets/images/hamsterreserve.jpg");
    background-size: 1136px;
    background-repeat: no-repeat;
    background-position: 50% 74%;
}

.reserveRoom {
    font-size: 35px;
    font-family: Dosis;
    margin-top: 25px;
}

.formEffect {
    border-radius: 0px;
    width: 177px;
    height: 38px;
    background-color: #EBEDFC;
    border: #7A90D9 1px solid;
    margin-top: -25px;

}

.availBtn {
    width: 177px;
    height: 38px;
    background-color: #006EDB;
    border-radius: 0px;
    border: #000DC7 1px solid;
    font-family: SSPB;
    color: #FFFFFF;
    font-size: 19px;
    text-wrap: nowrap;
    text-align: center;
}

.availBtnOrg {
    margin-top: -25px;
}

.footer {
    height: 300px;
    background-color: #000324;
}

.footerTopText {
    font-family: SSP;
    font-size: 16px;
    margin-top: -15px;
}

.footerBotText {
    font-family: SSP;
    font-size: 16px;
    margin-top: -50px;
}

.formatting {
    padding-left: 95px;
    text-wrap: nowrap;
}

@media screen and (max-width: 1200px) {
    .breakTablet {
        display: flex;
        justify-content: center;
        margin-left: 150px;
    }

    .backImageTwo {
        height: 1738px;
    }

    .positionNav {
        width: 750px;
    }

    .roomTablet {
        top: 1590px;
    }

    .box {
        width: 720px;
        height: 230px;
    }

    .genuine {
        margin-left: 50px;
    }

    .hamHomeSize {
        margin-top: 75px;
    }

    .centerTablet {
        text-align: center;
    }

    .marginTablet {
        margin-bottom: 20px;
    }

    .formEffect {
        width: 90px;
        margin-left: -25px;
    }

    .availBtn {
        margin-left: -25px;
    }

    .formatting {
        padding-left: 55px;
        padding-bottom: 10px;
        text-wrap: wrap;
        text-align: center;
    }

    .twentyFour {
        padding-right: 25px;
    }

    .pool {
        padding-left: 35px;
    }

    .twentyFourText {
        padding-right: 35px;
    }
    
    .poolText {
        padding-left: 35px;
    }
}