@font-face {
    font-family: Dosis;
    src: url(../assets/fonts/Dosis-VariableFont_wght.ttf);
}

.headerColor {
    background-color: #000324;
}

.lightBlueText {
    color: #E5FEFF;
}

.nearBlackText {
    color: #1A1B26;
}

.buttonColor {
    background-color: #004CC7;
}

.colorOfMoney {
    color: #1F51A8;
}

.BoxColor {
    background-color: #EBEDFC;
}

.boxBorder {
    color: #7A90D9;
}

.checkButtonColor {
    background-color: #006EDB;
}

checkButtonBorder {
    color: #000DC7;
}

.navLogo {
    padding-top: 12px;
}

.headerSize {
    height: 120px;
    /* https://www.pixelconverter.com/px-to-vw-converter/ */
    /* 6.25vw */
}

.hyperLink{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-family: Dosis;
}

.positionNav {
    position: relative;
    top: -40px;
    width: 850px;
    text-align: center;
}

.borderReserve {
    border-style: solid;
    border-width: 2px;
    border-color: #E5FEFF;
    height: 33px;
    width: 92px;
}

.backImageOne {
    width: 1920px;
    height: 500px;
    background-image: url("../assets/images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

